{% extends "MyBus/iniciocolectivo3.html" %}

{% load static %}{% block a %}

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h3>Listado Colectivos</h3>   <a href="{% url 'Colectivos'%}"><input type="submit" value="Inicio"></a>

    <ul>
        {%for Colectivo in object_list%}
            <p>{{Colectivo.linea_colectivo}}</p>
            <p>
                <a href="{% url 'Detallec' Colectivo.id %}"><input type="submit" value="Ver"></a>
                <a href="{% url 'Editarc' Colectivo.id %}"><input type="submit" value="Editar"></a>
                <a href="{% url 'Eliminarc' Colectivo.id %}"><input type="submit" value="Borrar"></a>
            </p>
        {%endfor%}
    </ul>
    

{% endblock %}